<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We believe in helping autism youth to attain the best possible life experience.  We hope to see them in believing themselves when they reach to adulthood.</p>
                <p class="text-faded">We believe in life long relationship and not transactional relationship.  Via our teaching and mentoring, we hope to be our students' teachers, as well as their lifelong coach.  In the professional world, there is a term called trusted advisor and our goal is to be the trusted advisor for our students after they enter into their professional career.</p>
				<p class="text-faded">We are a California based Public Benefit corporation (application pending).  Our public mention is to serve the autism youth community while maintaining our commitment to our shareholders.</p>
				<a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
