<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>90% of adult on the autism spectrum are unemployed.  Start learning TODAY with us to change that.</h1>
            <hr>
            <p>Home page (Lower heading): We teach and mentor your child with technical skills and tools required to be successful in technology field. </p>
			<div class="embed-responsive embed-responsive-1by1">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XUAsU_zQVMo?rel=0"></iframe>
			</div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
