<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>What happens when the bus stops showing up? 90% of adult on the autism spectrum are unemployed.  Do you want you child pushing carts at the Wal-Mart or coding at Google and Microsoft?</p>
			<div class="embed-responsive embed-responsive-1by1">
				<iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/XUAsU_zQVMo?rel=0" allowfullscreen></iframe>
			</div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
